.example__wrapper {
  background-color: $background-color;
}

.example__title {
  font-family: $additional-font-family;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.example__description {
  color: $text-color;
}
