.form-section__title {
  font-family: $additional-font-family;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
}

.form-section__input {
  color: $text-color;
  font-family: $additional-font-family;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
