.form-additional {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.form-additional__label {
  color: $text-color;
  font-family: $additional-font-family;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
