.main-footer__wrapper {
  background-color: $background-color;
}

.main-footer__header-description {
  color: #111111;
  font-family: $additional-font-family;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.main-footer__header--index {
  background-color: #ffffff;
}
