// Начните писать стили здесь
@import "variables.scss";
@import "blocks/main-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/site-list.scss";
@import "blocks/hero.scss";
@import "blocks/button.scss";
@import "blocks/options.scss";
@import "blocks/advantages.scss";
@import "blocks/example.scss";
@import "blocks/stats.scss";
@import "blocks/cost.scss";
@import "blocks/main-footer.scss";
@import "blocks/contacts.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";
@import "blocks/catalog-container.scss";
@import "blocks/catalog.scss";
@import "blocks/card.scss";
@import "blocks/catalog-additional.scss";
@import "blocks/extra.scss";
@import "blocks/present.scss";
@import "blocks/questionary.scss";
@import "blocks/control.scss";
@import "blocks/form-section.scss";
@import "blocks/form-purpose.scss";
@import "blocks/form-additional.scss";


@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswald/oswaldregular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato/Lato-Regular.woff") format("woff2");
  font-display: swap;
}

body {
  font-family: $main-font-family;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
