$additional-font-family: "Oswald", "Arial", sans-serif;
$main-font-family: "Lato", "Arial", sans-serif;
$accent-color: #68b738;
$text-color: #444444;
$text-color-additional: #222222;
$background-color: #f2f2f2;

